/* TASK 1 */
.item {
  border-radius: 8px;
  padding: 16px;
  width: 392px;
  background: #f6f6fe;
}

.task-1-header {
  font-weight: 600;
  font-size: 24px;
  line-height: 133%;
  letter-spacing: 0.04em;
  color: #2e2f42;

  margin: 0;
}

.task-1-list {
  margin-top: 16px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.task-1-list > li {
  width: 360px;
  height: 40px;
  border: 1px solid #808080;
  border-radius: 4px;
  padding: 8px 16px 8px 16px;

  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.04em;
  color: #2e2f42;
}

/* TASK 2 */
#categories {
  display: flex;
  flex-direction: column;

  gap: 24px;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;
}

.gallery > li {
  width: calc((100% - 48px) / 3);
}

.gallery > li > img {
  display: block;
  max-width: 100%;
  object-fit: cover;
  height: 100%;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
}

/* TASK 3 */
#name-input {
  border: 1px solid #808080;
  border-radius: 4px;
  width: 360px;
  height: 40px;

  padding-left: 16px;
  padding-top: 8px;
  padding-bottom: 8px;

  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.04em;
  color: #2e2f42;
}

/* TASK 4 */
.login-form {
  display: flex;
  flex-direction: column;
  gap: 8px;
  max-width: 360px;
}

.login-form > label {
  display: block;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.04em;
  color: #2e2f42;
}

.login-form > label > input {
  width: 100%;

  height: 40px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  outline: transparent;
  background-color: transparent;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 12px;
}

.login-form > button {
  margin-top: 16px;
  border-radius: 8px;
  padding: 8px 16px;
  width: 86px;
  height: 40px;
  background: #4e75ff;
  outline: none;

  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.04em;
  color: #fff;
}

.login-form > button:hover {
  background: #6c8cff;
}

/* TASK 5 */
.widget {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.widget > p {
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.04em;
  color: #2e2f42;
}

.change-color {
  width: 148px;
  display: block;
  border-radius: 8px;
  padding: 8px 16px;
  background: #4e75ff;

  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.04em;
  color: #fff;
}

.change-color:hover {
  background: #6c8cff;
}

/* TASK 6 */

#controls {
  background-color: #f6f6fe;
  border-radius: 8px;
  padding: 32px;
  width: 486px;
  height: 104px;
}

#controls > input {
  border: 1px solid #808080;
  border-radius: 8px;
  padding: 8px;
  width: 150px;
  height: 40px;

  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.04em;
  color: #2e2f42;
  text-align: center;
}

button[data-create] {
  margin-top: 16px;
  border-radius: 8px;
  padding: 8px 16px;
  width: 120px;
  height: 40px;
  background: #4e75ff;
  outline: none;

  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.04em;
  color: #fff;
}

button[data-create]:hover {
  background: #6c8cff;
}

button[data-destroy] {
  margin-top: 16px;
  border-radius: 8px;
  padding: 8px 16px;
  width: 120px;
  height: 40px;
  background: #ff4e4e;
  outline: none;

  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.04em;
  color: #fff;
}

button[data-destroy]:hover {
  background: #ff7070;
}

#boxes {
  background-color: #f6f6fe;
  border-radius: 8px;
  padding: 32px;

  width: 104px;
}
